.jumbotron {
  padding-left: 15px;
}

body {
  padding-bottom: 50px
}

.login, .signup {
  display:inline-flex;
  padding-left: 15px;
}

td, th {
  padding-left: 10px !important;
  padding-right: 10px !important!;
}

.checkbox {
  text-align: center;
}
