<div class="jumbotron">
  <h1>Blocitoff</h1>
  <p>{{ home.email }}</p>
  <a href="#" ng-click="home.logOut()">Logout</a>
</div>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Active Tasks</a></li>
      <li><a ui-sref="history">Task History</a></li>
    </ul>
  </div>
</nav>

<div class="col-md-8">
    <table>
      <th>Active Tasks</th>
      <th>Completed</th>
      <tr ng-repeat="item in home.items" ng-hide="item.completed">
        <td>{{ item.name }}</td>
        <td class="checkbox"><input type="checkbox" ng-model="checked" ng-click="home.toggleCompleted(item)"></td>
      <tr>
    </table>
    <a ui-sref="new">New Item</a>
</div>
