<h1>New Item</h1>
<div class="row">
  <div class="col-md-4">
    <p>Guidelines for Tasks</p>
      <ul>
        <li>Tasks self-destruct in 7 days.</li>
        <li>Don't procrastinate</li>
        <li>If you procrastinate, re-add task in 7 days.</li>
      </ul>
  </div>
  <div class="col-md-8">
      <div class="form-group">
        <form method="post" ng-submit="new.addTask(task)">
          <input type="text" name="task" value="" placeholder="Enter new task" ng-model="task">
          <input type="submit" name="" value="Save!">
        </form>
      </div>
  </div>
</div>
