<div class="jumbotron">
  <h1>Blocitoff</h1>
</div>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a ui-sref="home">Active Tasks</a></li>
      <li><a ui-sref="history">Task History</a></li>
    </ul>
  </div>
</nav>

<div class="row">
  <div class="col-md-4">
    <p>Guidelines for Tasks</p>
      <ul>
        <li>Tasks self-complete in 7 days.</li>
        <li>Don't procrastinate</li>
        <li>If you procrastinate, re-add task in 7 days.</li>
      </ul>
  </div>
  <div class="col-md-8">
      <div class="form-group">
        <form method="post" ng-submit="new.addTask(task)">
          <input type="text" name="task" value="" placeholder="Enter new task" ng-model="task">
          <input type="submit" name="" value="Save!">
        </form>
      </div>
  </div>
</div>
